{% extends 'bootstrap/base.html' %}

{% block content %}
<div class="cabezal"> trivia: <a href="/">inicio</a>
    <div align="right">
        {%  if current_user.is_anonymous:%}
             <a href="{{url_for('index')}}">Iniciar session</a>
        {% else %}
            <a href="{{url_for('logout')}}">Cerrar Sesion </a> Usuario {{current_user.name}}
        {%  endif %}

    </div>
</div>
<hr>

{% with messages = get_flashed_messages() %}
          {% if messages %}
          <ul>
              {% for message in messages %}
              <li>{{ message }}</li>
              {% endfor %}
          </ul>
          {% endif %}
{% endwith %}


        {% block app_content %}{% endblock %}
{% endblock %}

