{% extends 'bootstrap/base.html' %}

{% block content %}
<div class="cabezal"> trivia: <a href="/">inicio</a>
    <div align="right">
        {%  if current_user.is_anonymous:%}
             <a href="{{url_for('index')}}">Iniciar session</a>
        {% else %}
            <a href="{{url_for('logout')}}">Cerrar Sesion </a> Usuario {{current_user.name}}
        {%  endif %}

    </div>
</div>
<hr>

{% with messages = get_flashed_messages() %}
          {% if messages %}
          <ul>
              {% for message in messages %}
              <li>{{ message }}</li>
              {% endfor %}
          </ul>
          {% endif %}
{% endwith %}


        {% block app_content %}{% endblock %}
{% endblock %}


<style>
.cabezal {


background: rgba(147,206,222,1);
background: -moz-linear-gradient(left, rgba(147,206,222,1) 0%, rgba(115,227,255,1) 53%, rgba(224,248,255,1) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(147,206,222,1)), color-stop(53%, rgba(115,227,255,1)), color-stop(100%, rgba(224,248,255,1)));
background: -webkit-linear-gradient(left, rgba(147,206,222,1) 0%, rgba(115,227,255,1) 53%, rgba(224,248,255,1) 100%);
background: -o-linear-gradient(left, rgba(147,206,222,1) 0%, rgba(115,227,255,1) 53%, rgba(224,248,255,1) 100%);
background: -ms-linear-gradient(left, rgba(147,206,222,1) 0%, rgba(115,227,255,1) 53%, rgba(224,248,255,1) 100%);
background: linear-gradient(to right, rgba(147,206,222,1) 0%, rgba(115,227,255,1) 53%, rgba(224,248,255,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#93cede', endColorstr='#e0f8ff', GradientType=1 );

padding: 10px;
margin: 10px;
}
</style>
