<!DOCTYPE html>
<html lang="es">
  <head>
      <meta charset="UTF-8">
      {% block head %}
      <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
      <title>Trivia</title>
      {% endblock %}
  </head>
  <body>

{% block menu %}
<nav class="navbar navbar-expand-md navbar-dark bg-dark navbar-fixed-top">
  <a class="navbar-brand" href="/">TRIVIA</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
       <ul class="navbar-nav ml-auto">
         <li class="nav-item">
           {% if current_user.is_authenticated  %}
             <span class="navbar-text">Hola {{ current_user.name }}</span>
              <a href="{{url_for('logout')}}">Cerrar Sesion </a>

           {% endif %}
         </li>
       </ul>
   </div>
</nav>
{% endblock %}

<br/>
{% block contenido %}
{% endblock %}
<br/>

  {% block pie %}
  <footer class="footer">
    <div class="container-fluid text-center text-md-center">


            <p>Juegue a la TRIVIA de antel y gane fabulosos premios :) .</p>


    </div>
  </footer>
 {% endblock %}
