{% extends "base_alternativa.html" %}
{% block head %}
{{ super() }} {# Heredar el contenido del bloque padre #}
<link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}">
{% endblock %}




{% block contenido %}
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<h2 align="center">{{subtitulo}}</h2>
		</div>
	</div>
		<br>

		<table align="center">
   			{% for categoria in categorias %}
				{% if session[categoria.id | string] %}
					<tr><td>{{categoria.descripcion}}</td></tr>
				{% else %}
					<tr><td><a href="/trivia/{{categoria.id}}/pregunta">{{categoria.descripcion}}</a></td></tr>
				{% endif %}
   			{% endfor %}
		</table>
</div>

{% endblock %}
