{% extends "base_alternativa.html" %}
{% block head %}
{{ super() }} {# Heredar el contenido del bloque padre #}
<link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}">
{% endblock %}
{% block contenido %}
<h1> GANASTE !!!!!!!!!!!!!</h1>
<br>
<h2 align="center">GANASTTE!!! ACERTASTE TODAS LAS CATEGORIAS:TIEMPO TOTAL: {{tiempo}}</h2>
    <br><br><br><br>
            <div align="center">
                <a href="/trivia/categorias">VOLVER A EMPEZAR...!!!!</a>
            </div>
<br>

<h3 align="center">TABLA DE POSICIONES</h3>
<div align="center">
    <table align="center" border="1">
        <tr>
            <td>Nombre</td>
            <td>Direccion Mail</td>
            <td>Mejor Tiempo</td>
        </tr>
        {% for user in users%}

        <tr>
            <td>{{user.name}}</td>
            <td>{{user.email}}</td>
            <td>{{user.best_time}}</td>
        </tr>
         <br>
        {% endfor %}
    </table>


</div>




<br>
{% endblock %}

