
{% extends "base_alternativa.html" %}
{% block head %}
{{ super() }} {# Heredar el contenido del bloque padre #}
<link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}">
{% endblock %}

{% block contenido%}
{% import 'bootstrap/wtf.html' as wtf %}
    <div>
            {{ wtf.quick_form(form,form_type="horizontal", button_map={'submit': 'primary'} , horizontal_columns=('lg', 1, 3)) }}
    </div>

<div>
    <a href="{{ url_for('register') }}">¿No estás registrado?</a>
</div>
{% endblock %}