<body>
{% extends "base.html" %}
{% block app_content %}
<h1>Categoría {{categoria.nombre}}</h1>
<br>
<div style="text-align: center;">
<h2><span
style="font-weight: bold; background-color: rgb(147, 206, 222);">{{pregunta.text}}</span>
</h2>
    <table>
        {% for respuesta in pregunta.respuestas %}

        <tr><td>
            <a href="/trivia/{{pregunta.id}}/resultado/{{respuesta.id}}">{{respuesta.text}}</a>
        </td></tr>

        {% endfor %}
    </table>

    <br>
<div style="text-align:center;">
</div>
<br>
</div>
<br>
{% endblock %}
</body>
