{% extends "base_alternativa.html" %}
{% block head %}
{{ super() }} {# Heredar el contenido del bloque padre #}
<link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}">
{% endblock %}

{% block contenido %}

<h1>Categoría: {{categoria.descripcion}}</h1>
<br>

<h2 align="center">{{pregunta.text}}</h2>

    <table align="center">
        {% for respuesta in pregunta.respuestas %}

        <tr><td>
            <a href="/trivia/{{pregunta.id}}/resultado/{{respuesta.id}}">{{respuesta.text}}</a>
        </td></tr>
         <br>
        {% endfor %}
    </table>
     <br> <br>
{% endblock %}

