{% extends "base_alternativa.html" %}
{% block head %}
{{ super() }} {# Heredar el contenido del bloque padre #}
<link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}">
{% endblock %}
{% block contenido %}
<h1> Resultado obtenido: </h1>
<br>
<div style="text-align: center;">
<h2>Para la pregunta: {{pregunta.text}}</h2>
            <br><br>
        {%if resultado%}
            <h3>ACERTASTE!!!</h3>
        {%else%}
            <h3>Te equivocaste, volvé a intentarlo!!!</h3>
        {%endif%}
    <br><br><br><br>

            <a href="/trivia/categorias">SEGUIR JUGANDO!!!!</a>
      <div style="text-align:center;">
</div>
<br>
</div>
<br>
{% endblock %}
