<body>
{% extends "base.html" %}
{% block app_content %}
<h1> Resultado obtenido: </h1>
<br>
<div style="text-align: center;">
<h2><span
style="font-weight: bold; background-color: rgb(147, 206, 222);">Para la pregunta: {{pregunta.text}}</span>
</h2>
        {%if resultado%}
            ACERTASTE!!!
        {%else%}
            Te euivocaste, volvé a intentarlo!!!
        {%endif%}
    <br><br><br><br>

            <a href="/trivia/categorias">SEGUIR JUGANDO!!!!</a>
      <div style="text-align:center;">
</div>
<br>
</div>
<br>
{% endblock %}
</body>
